@import "https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

li {
    list-style: none;
    font-size: 0.8em;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 100;
    font-family: serif;
}
